/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #F9F9F9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.title {
	font-size: 12px;
	font-weight: bold;
	font-color: '#808080';
}
.cameraItem {
	width: 352px;
	height: 240px;
	margin: 6px;
	margin-left: auto;
	margin-right:auto;
	display: inline-block;
}
#load {
	width: 100%;
	background-color: #dbe7d6;
	border-style: solid;
	border-color: #057e69;
	-moz-box-shadow: 0 0 1px #2e2e2e;
	-webkit-box-shadow: 0 0 1px #2e2e2e;
	box-shadow: 0 0 1px #2e2e2e;
	color: #2f6d39;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	position: relative;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}
.btn {
	color: #2f6d39;
	text-align: center;
	background-color: #dbe7d6;
	padding: 5px;
	text-decoration: none;
	z-index: 1;
	height: 16px;
	width: 16px;
	display: inline-block;
	overflow: hidden;
	text-shadow: 0 1px 1px #f9f9f7;
			font: bold 16px "Lucida Grande", Lucida, Verdana, sans-serif;
			margin-top: 0;
			margin-left: 10px;
		}
.buttons {
	width: 100%;
}
#infobox {
		color: #969696;
		text-shadow: 0 1px 1px #f7f7f3;
		display: inline-block;
		padding: 0px;
		width: 400px;
		overflow: hidden;
		font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
		margin-top: 0;
		margin-left: 10;
		padding-bottom: 3;
	}
.delbutton {
	position: relative;
	display: block;
	float:right;
	width: 20px;
	height: 20px;
	top: 0;
	right: 0px;
	display: none;
	z-index: 100;
	cursor: pointer;
}
.camImage {
	z-index: 10;
	display: block;
	position: absolute;
}
.cameraItem {
	border: 1px solid #dddddd;
	background-color: #F6F6F6;
}
.title {
	text-align: center;
	background-color: #dddddd;
	color: #444444;
	font: bold 10px "Lucida Grande", Lucida, Verdana, sans-serif;
	z-index:12;
	height: auto;
}
#facebooklike{
	display:none;
	margin-top: -1px;
	padding-bottom: 2px;
	top: 3px;
}

#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	#cameraContainer {
		width: 100%;
		margin-left: auto ;
  		margin-right: auto ;
	}

	#progressbar {
		margin-right: 50px;
		margin-left: 50px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.progress-label {
    float: left;
    margin-left: 50%;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    font-size: 14px;
  }